@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url("https://fonts.googleapis.com/css?family=Mali&display=swap");
/*-- navbar breaks (2 rows) from 768-827 width --*/


html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
    // font-family: 'Mali', cursive; 	
	color: #222;
	cursor: grab;
	overflow-x:hidden;
}

/* Navbar */
.navbar{
	padding: .8rem;
	background-image: url("img/navbg.jpg");
	// background-size: cover;
	box-shadow: 0px 5px 5px rgb(0,0,0,.2);
	opacity:.95;
}
.navbar-nav li {
	padding-right: 20px;
	display: inline-block;
	width: auto;
	
}
.nav-trigger:hover .nav-link{
	
	transform: rotate(16deg);
}
.nav-link{
	font-size: 1.1em !important;
	transition: 0s ease;
	font-weight: bold;
}
.nav-list{
	color: #fbaf2c;
	width: 100%;
}
.navbar-collapse.collapsing, .navbar-collapse.show{
	text-align: center !important;
	margin: auto !important;
	display: inline-block;
	position: relative;
	right: 0;

}
.navbar-collapse.collapsing ul, .navbar-collapse.show ul{
	margin-right: auto;
	width: 100%;
	display: flex;
	justify-content: around;
	font-weight: bold;
	font-size: 200%;
}

.navbar-toggler{
	box-shadow: 0px 5px 5px rgb(0,0,0,.2);
	background: rgb(256,256,256,.2);
}
.navbar-brand{
	/*box-shadow: 5px 5px 5px rgb(0,0,0,.2); */
	transition: .337s ease;
	pointer-events: auto;
}
.brand-trigger:hover .navbar-brand{
	transform:rotate(360deg);
}
.navbar-collapse{
	margin-left: auto;
	width: 100%;
	/*-webkit-text-stroke: 2px #0005;*/
}
#nav-list{
	
	margin-left: auto;
}
.nav-item{
	display: inline-block;
	text-align: center;
}




.carousel-inner img{
	width: 100%;
	height: 100%;
}
/*.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}*/
.carousel-caption h1{
	font-size: 337%;
	text-shadow: 0px 0px 80px #000;
	margin-bottom: 10px;
}
.carousel-caption h3{
	font-size: 100%;
	font-weight: 100;
	text-shadow: 0px 0px 80px #000;
	padding-bottom: 1rem;
}
.btn{
	transition: .15s ease;
}
.btn:hover{
	transform: scale(1.02);
	z-index: 2;
}
.btn-listen:hover{
	transform: scale(1.2);
	z-index: 2;
}
.btn-primary{
	background-color: #9e94bc;
	//background-color: #9FACB3;
	border: 1px solid #563d7c;
	
}
.btn-primary:hover{
	background-color: #fbaf2c;
	border: 1px solid #fdd878;
}
.btn-outline-red{
	color: white;
	border-color: #563d7c;
	border-color: #fb6435cc;
	background-color: #fb6435cc;
}
.btn-outline-red:hover{
	background-color: #fbaf2c;
	border: 1px solid #fdd878;
}
.btn-square{
	border-radius:0;
	//font-weight: bold;
}
.btn-rushin{
	//font-weight:bold;
	font-size:1.2rem!important;
	position:absolute;
	top:55%;
	left:12.5%;
}



.jumbotron{
	padding: 1rem;
	border-radius: 0;
}
.padding{
	padding-bottom: 2rem;
}
.welcome{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
.welcome hr{
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.fa-bong{
	color: #e54d26;
}
.fa-bold{
	color: #563d7c;
}
.fa-smoking-ban{
	color: #2163af;
}
.fa-bong, .fa-bold, .fa-smoking-ban{
	font-size: 4em;
	margin: 1rem;
}
.fun{
	width: 100%;
	margin-bottom: 2rem;
}
.gif{
	max-width: 100%;
}
.social a{
	font-size: 4.5em;
	padding: 3rem;
}



/* Icon styling */

.fa-facebook{
	color: #3b5998;
	transition: .737s ease;
}
.fa-twitter{
	color: #00aced;
	transition: .737s ease;
}
.fa-google-plus-g{
	color: #dd4b39;
	transition: .737s ease;
}
.fa-spotify{
	color: #1DB954;
	transition: .737s ease;
}
.fa-instagram{
	color: #fb3958;
	transition: .737s ease;
}
.fa-youtube{
	color: #bb0000;
	transition: .737s ease;
}
.fa-envelope{
	color: #D44638;
	transition: .737s ease;
}
.fa-itunes{
	color: rgb(10,132,255);
	transition: .737s ease;
}
.fa-bandcamp{
	color: #629aa9;
	transition: .737s ease;
}
.fa-google-play{
	color: #3BCCFF;
	transition: .737s ease;
}
.fa-amazon{
	color: #146EB4;
	transition: .737s ease;
}
.fa-soundcloud{
	color: #ff8800;
	transition: .737s ease;
}
.fa-play-circle, .fa-play{
	color:#555555;
	transition: .737s ease;
}
.fa-play-circle:hover, .fa-play:hover{
	color:#fbaf2c;
	transform: scale(1.2);
}
.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-instagram:hover, .fa-youtube:hover, .fa-spotify:hover, .fa-envelope:hover, .fa-itunes:hover, .fa-bandcamp:hover, .fa-google-play:hover, .fa-amazon:hover, .fa-soundcloud:hover{
	color: #fbaf2c;
	transform: scale(2);
}
.indexbutton{
	background-color:white;
	transition: .337s ease;
}
.indexbutton-dark{
	background-color:#343A40;
	transition: .337s ease;
}
.indexbutton:hover, .indexbutton-dark:hover{
	z-index:37;
	background-color:#8ad3e0;
	transform: scale(1.02);
	opacity: .9;
	box-shadow: 0px -5px 5px rgb(0,0,0,.2);
}
.indexbutton-text{
	font-weight:bold;
	font-size:2rem;
}
.overflow-x-hidden{
	overflow-x:hidden;
}








footer {
	background-color: #f3f3f3aa;
	color: #d5d5d5;
	padding-top: 2rem;
	
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
.hr-strong{
	border-top: 3px solid #6f6f6f;
	margin-top: .8rem;
	margin-bottom: 1rem;
}


footer a{
	color: #d5d5d5;
}
hr.light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
/*.navbar-brand a{
	max-width: 50%;
}
*/


/*--- Zeb's additions --*/
.box-shadow{
	box-shadow: 0px 5px 5px rgb(0,0,0,.2);
}
.box-shadow-top{
	box-shadow: 0px -5px 5px rgb(0,0,0,.2);
}
.drop-shadow{
	filter: drop-shadow(5px 5px 4px #444422a1);
}
/* colors */
.white{
	color: white;
}
.black{
	color: black;
}
.gt1{
	color: #fbaf2c;
	//background-color: #fbaf2c;
}
.gt2{
	color: #8ad3e0;
	//background-color: #8ad3e0;
}
.gt3{
	color: #f36f98;
	//background-color: #f36f98;
}
.gt4{
	color: #eecc90;
	//background-color: #eecc90;
}
.gt5{
	color: #9e94bc;
	//background-color: #9e94bc;
}
.gt6{
	color: #ea8d4d;
	//background-color: #ea8d4d;
}
.gt7{
	color: #5db1b5;
	//background-color: #5db1b5;
}
.gt8{
	color: #fb6435;
	//background-color: #fb6435;
}
.gt8cc{
	color: #fb6435cc;
	//background-color: #fb6435cc;
}
.gt9{
	color: #fdd878;
	//background-color: #fdd878;
}

.gt1bg{
	background-color: #fbaf2c;
}
.gt2bg{
	background-color: #8ad3e0;
}
.gt3bg{
	background-color: #f36f98;
}
.gt4bg{
	background-color: #eecc90;
}
.gt5bg{
	background-color: #9e94bc;
}
.gt6bg{
	background-color: #ea8d4d;
}
.gt7bg{
	background-color: #5db1b5;
}
.gt8bg{
	background-color: #fb6435;
}
.gt9bg{
	background-color: #fdd878;
}


.rainbow{
	background-image: linear-gradient(to bottom right, #fbaf2c, #8ad3e0, #f36f98, #eecc90, #9e94bc, #ea8d4d, #5db1b5, #fb6435, #fdd878);
}
.ease{
	transition: 3s ease;
	font-size: 6rem;
	font-weight: bold;
}


.jumbotron{
	/*background-image: url('img/jumbo1.jpg');*/
	/*background-color: #454545;*/
	background-repeat: no-repeat;
	background-size:  100%;
}
.carousel-caption{
	color: black;
	text-align: center;
	margin: 0 auto;
}
.carousel-caption{
	color: black;
	text-align: center;
	margin: 0 auto;
}


.carousel-indicators li{
	background-color: rgba(50,50,50,.5);
}
.carousel-indicators .active{
	background-color: #fbaf2c;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*attempting to limit height of carousel

.carousel-inner img{
	max-height:77vh;
	max-width:77vh;
	overflow: hidden;
	display: cover;
	overflow: hidden;
}*/

/*#slides{
	max-height: 75vh;
	overflow: auto;
}*/


.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.btn-jumbo{
	float: right;
}

body{
	//background-image: linear-gradient(to bottom right, #fbaf2c, #8ad3e0, #f36f98, #eecc90, #9e94bc, #ea8d4d, #5db1b5, #fb6435, #fdd878);
	background-image: url(img/skyseamless.jpg);
	background-color: white;
	background-size: contain;
	background-repeat: repeat;
}
.p-jumbo{
	font-weight: bolder;
	font-size: 200%;
	padding-top: 1rem;
	padding-bottom: .25rem;
}

.hr-jumbo{
	padding: .5rem;
}
/*.jumbo, a:link{
	color: black;
}
.jumbo, a:visited{
	color: black;
}*/
.container-fluid-jumbo{
	position: relative;
	z-index: 1;
	box-shadow: 0px -7px 15px rgba(0,0,0,.2);
}

.connect{
	position: relative;
	z-index: 1;
	/*box-shadow: 0px -7px 15px rgba(0,0,0,.2);*/
	background-color: #eeeeeeaa;
}
/*.h2-connect{
	background-image:url("img/gif/connect.gif");
	background-repeat: no-repeat;
	background-position:center;
	
}*/
.logo-footer{
	filter: invert(100%);
}

.nopad{
	padding: 0rem !important;
	margin: 0rem !important;
}
.nomargin{
	margin: 0rem !important;
}
.nooutline{
	border: none;
	outline: none;
}
.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.content {
  height: 100%;
}
.jumbo-listen{
	/*background-image: url(img/shroomrock.jpg);*/
}
.collapse.show{
	display: flex;
}
#gacollapse{
	/*background-image: linear-gradient(to bottom right, #fbaf2c, #8ad3e0, #f36f98, #eecc90, #9e94bc, #ea8d4d, #5db1b5, #fb6435, #fdd878);*/
	border: 5px solid #aaaaaaaa;
	border-top: none;
	border-radius: 15px;
	background: #eeeeee;
	box-shadow: 1px 5px 5px rgb(0,0,0,.2);
	
}

.img-footer{
	float: right;
	margin-left: auto;
	filter: invert(58%) sepia(9%) saturate(418%) hue-rotate(167deg) brightness(94%) contrast(88%);
}
.streaming{
	font-size: 2rem;
	padding: 2rem;
}
/*.cloudpuffs{
	width: 1280px;
	height: 720px;
	background: url("img/cloudpuffs.jpg") left center no-repeat;
	background-size: cover;
	object-fit: contain;
	animation: play 1s steps(12) infinite;
}
@keyframes play{
	100%{
		background-position: -15360px;
	}
}*/

.card-img-top{
	transition: .5s ease;
  backface-visibility: hidden;
}
.card-img-top:hover {
  opacity: 0.737;
  transform: scale(1.03);
}
.img-listen{
	transition: .5s ease;
  backface-visibility: hidden;
}
.img-listen:hover {
  opacity: 0.737;
  transform: scale(1.03);
}
.play{
	visibility: hidden;
	transition: .5s ease;
	position:absolute;
	cursor: url(img/play-solid.svg), auto !important;
}
.play:hover{
	opacity: 1;
	
}
a.nostyle:link, a.nostyle:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.mw1337{
	//max-width: 1100px;
}
.mw25{
	max-width: 25%;
}

.banner{
	position: relative;
	max-height: 70vh;
	width: auto;
	overflow: hidden;
}
.banner-social{
	position: absolute;
	bottom: 2.5%;
	text-align: center;
	font-size: 2rem;
	color: black;
}
.banner-social a{
	padding: 0 10px;
	opacity: .73;
}
.banner-social a:hover{
	opacity: 1;
}
#footer-email{
	cursor: text;
	transition: 1s ease;
}
.footer-sticky{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0 auto 0 auto !important;
	z-index: 37;
}
.social-footer{
	height: 100%;
}
.social-footer a {
	padding: 0 10px;
	width: 50%;
	margin: auto;
}
.div-footer{
	padding: 0 auto 0 auto !important;
	margin: 0 auto !important;
}
.card-watch{
	margin-bottom: 2rem;
	border: none;
	outline: none;
}



/* Colorcycle */

.colorcycle{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	//filter: blur(1px);
	//transition: .1s ease;
	animation: colorcycle 36s ease-in-out infinite;
}
.colorcycle-1{
	background-color: #fbaf2c;
	animation-delay: 0s;
	z-index: -2;
	
}
.colorcycle-2{
	background-color: #8ad3e0;
	animation-delay: 4s;
	z-index: -3;
}
.colorcycle-3{
	background-color: #f36f98;
	animation-delay: 8s;
	z-index: -4;
}
.colorcycle-4{
	background-color: #eecc90;
	animation-delay: 12s;
	z-index: -5;
}
.colorcycle-5{
	background-color: #9e94bc;
	animation-delay: 16s;
	z-index: -6;
}
.colorcycle-6{
	background-color: #ea8d4d;
	animation-delay: 20s;
	z-index: -7;
}
.colorcycle-7{
	background-color: #5db1b5;
	animation-delay: 24s;
	z-index: -8;
}
.colorcycle-8{
	background-color: #fb6435;
	animation-delay: 28s;
	z-index: -9;
}
.colorcycle-9{
	background-color: #fdd878;
	animation-delay: 32s;
	z-index: -10;
}
@keyframes colorcycle {
	0%{
		opacity: 1;
	}
	11%,88% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Pulse */
.pulse, .pulse2, .pulse3{
  transition: 1s ease;
  animation: pulse 14s ease-in-out infinite;
}
.pulse2{
  animation-delay: 3s;
}
.pulse3{
  animation-delay: 6s;
}
@keyframes pulse {
	0%, 100%{
		transform: scale(1);
	}
	50%{
		transform: scale(.98);
	}
}





.rushin{
	background-image: url("img/rushinbg.jpg");
	background-size: cover;
}
#rushinlisten{
	position: absolute;
	bottom:0;
	left:0;
	height: 100%;
	transition: .737s ease;
	//font-size: 3rem !important;
}

#rushinh1{
	position:absolute;
	margin:auto;
	max-width: 75%;
	max-height:75%;
	z-index:37;
}
/* #rushinlisten:hover{
  transform: scale(1.2);
} */

.mhvh{
	max-height:2vh;
}

.contain{
	size: cover;
}
.wonkyplay{
	top:20%;
	left:20%;
}











/*---Media Queries --*/
@media (min-width: 2000px){
	.nav-item{
		font-size: 120%;
	}
}

@media (min-width: 1000px){
	.mw1337{
		max-width: 75vw;
	}
}
@media (min-width: 1400px){
	.mw1337{
		max-width: 65vw;
	}
}
@media (max-width: 850px) {
  .social a{
	  font-size: 4em;
	  padding: 2rem;
  }
  .nav-item{
	  font-size:90%;
  }
}
@media (max-width: 810px){
	.navbar-nav li {
	padding-right: 15px;
	font-size: 85%;
	}
	
}
@media (max-width: 768px) {
  .carousel-caption h1{
	font-size: 220%;
	text-shadow: 0px 0px 80px #000;
	margin-bottom: 10px;
  }
  .carousel-caption h3{
	  font-size: 100%;
	  font-weight: 100;
	  text-shadow: 0px 0px 80px #000;
	  padding-bottom: .2rem;
  }
  .display-4{
	  font-size: 200%;
  }
  .social a{
	  font-size: 2.5em;
	  padding: 1.2rem;
  }
  .p-jumbo{
	  font-size:169%;
  }
  .ease{
	  font-size:4rem;
  }
  
}
@media (max-width: 767px){
	.navbar-nav li {
	padding-right: 20px;
	font-size: 100%;
	}
}
@media (max-width: 576px) {
  .carousel-caption h1{
	font-size: 175%;
	text-shadow: 0px 0px 80px #000;
	margin-bottom: 10px;
  }
  .carousel-caption h3{
	  font-size: 100%;
	  font-weight: 100;
	  text-shadow: 0px 0px 80px #000;
	  padding-bottom: .2rem;
  }
  .display-4{
	  font-size: 160%;
  }
  .social a{
	  font-size: 2.2em;
	  padding: 1rem;
  }
  .p-jumbo{
	  font-size: 100%;
  }
  .btn-jumbo{
	  font-size: 75%;
  }
  .brand-trigger{
	  max-width:50%;
  }
  .banner-social{
		font-size: 1.8rem;
		
	}
	.indexbutton-text{
	font-weight:bold;
	font-size:1.5rem;
	}	

  

  
}
@media (max-width: 450px) {
	.div-footer{
		font-size: 75%;
	}
	.social-footer a{
		padding: 0 10px;
	}
	.social-footer {
		font-size:1.1rem;
	}
	.text-footer{
		font-size: 90%;
	}
	.navbar-nav li {
	padding-right: 7px;
	font-size: 85%;
	}
	.indexbutton-text{
	font-weight:bold;
	font-size:1.1rem;
	}
	
}
/*#nav-list{
	margin:auto;
}*/



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








